    
.TareasItem-p{
    font-size: 1.2em;
}

.TareasItem-p--completado{
    text-decoration: line-through;
}

.Icon-check{
    font-size: larger;
    font-weight: 900;
}

.Icon-delete{
    font-size: larger;
    font-weight: 500;
}

.Icon-check--completado{
    color: rgba(23, 182, 36, 0.836);
    font-weight: 900;
}

.Icon-delete:hover{
    color:  red;
}

#stripped:nth-of-type(odd){
    background: lightblue;
}

#stripped:nth-of-type(even){
    background: lightcyan;
}

#stripped:hover{
    background: rgb(248, 209, 248);
}

