

:root {
    box-sizing: border-box;
    --primaryColor: green;
    --primaryLight: lightgreen;
    --primaryDark: darkgreen;
    --secondaryColor: darkgray;
    --accentColor: darkred;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    margin: 0 2rem;
    background-color: var(--primaryColor);
}
h1, h2 {
    font-family: 'Lato';
    color: white;
}
h3, h4, h5 {
    font-family: 'Lato';
    color: black;
}
p, a, ul, li, ol, td, input, button {
    font-family: 'Montserrat';
    font-weight: 400;
    color: black;
}
a {
    text-decoration: none;
}
.center {
    text-align: center;
}
button {
    padding: .5rem .75rem;
    background-color: var(--accentColor);
    color: white;
    font-weight: 500;
    border-radius: 4px;
    border: none;
    display: block;
}
button:hover{
    background-color: var(--primaryColor);
    font-weight: 300;
    color: white;
    transition: background-color .2s ease;
}
.ui-widget{
    color:black;
}
.ui-widget-header{
    background-color: var(--primaryDark);
}
.ui-widget-content{
    min-height: 55vh;
    background-color: var(--primaryLight);
    color: black;
}
.ui-widget-header .ui-state-default{
    background-color: var(--primaryLight);
    border-color: var(--primaryDark);
}
.ui-widget-header .ui-state-active{
    background-color: var(--accentColor);
    border-color: var(--primaryDark);
    color: black;
}
.container {
    margin-left: auto;
    margin-right: auto;
    max-width: fit-content;
    min-width: 250px;
    background-color: var(--secondaryColor);
    color: black;
    padding: 1rem 0.5rem;
    border: 3px solid var(--primaryDark);
    border-radius: 4px;
}
.tests {
    max-width: fit-content;
    background-color: var(--secondaryColor);
    color: black;
    padding: 1rem 2rem;
    border: 3px solid var(--primaryDark);
    border-radius: 4px;
}
#out1{
    font-weight: 600;
    vertical-align: middle
}
#out2{
    font-weight: 600;
}
ol li{
    cursor:pointer; 
}

/* PERSONALIZACIÓN DE LOS SELECT - no se puede cambiar el azul de hover*/
select{
    border-radius:4px;
}
select:focus {
    outline: var(--accentColor) solid 2px; 
}

/* ESTILO PERSONAL PARA LOS CHECKBOX */
/* Contenedor */
.container2 {
    display: block;
    position: relative;
    cursor: pointer;
    padding-left: 1.5rem;
}  
/* escondemos el default checkbox */
.container2 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
/* creamos un custom checkbox */
.checkmark {
    position: absolute;
    top: 3px;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: var(--secondaryColor);
}
/* Al pasar el mouse encima, lo ponemos gris */
.container2:hover input ~ .checkmark {
    background-color: var(--primaryLight);
}
/* creamos el marcador (escondido al no seleccionar) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
/* mostramos el marcador al seleccionar */
.container2 input:checked ~ .checkmark:after {
    display: block;
}
/* estilo del marcador */
.container2 .checkmark:after {
    left: 4px;
    top: 0px;
    width: 8px;
    height: 13px;
    border: solid var(--accentColor);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.tooltip-style{
    background: var(--accentColor);
    color: white;
    max-width: 12em;
}
#targetElement {
    min-height: 35vh;
    margin: 50px;
}

