:root {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    margin: 0 2rem;
    background-color: slateblue;
}
h1, h2, h3, h4 {
    font-family: 'Lato';
    color: white;
}
p, a, ul, li, ol, td, input, button {
    font-family: 'Montserrat';
    font-weight: 400;
}
.center {
    text-align: center;
}

button {
    padding: .5rem .75rem;
    background-color: lightgray;
    color: black;
    font-weight: 500;
    border-radius: 4px;
    border: none;
    display: block;
}
button:hover{
    background-color: darkgrey;
    color: white;
    transition: background-color .2s ease;
}
.message {
    margin-right: auto;
    margin-left: auto;
    width: 400px;
    height:150px;
    font-weight: 700;
    background-color: blue;
    color: white;
    display:flex;
    justify-content: center;
    align-items: center;
}
.ui-widget{
    color:black;
}
.ui-widget-header{
    background-color: blue;
}
.ui-widget-content{
    min-height: 55vh;
    background-color: lightskyblue;
    color: black;
}
.ui-widget-header .ui-state-default{
    background-color: lightskyblue;
    border-color: black;
}
.ui-widget-header .ui-state-active{
    background-color: blue;
    border-color: black;
}